@media (min-width: 1440px) {
    .portfolio__container {
        max-width: 90rem;
        margin: 0 auto;
    }
}

@media (max-width: 1439px) {
    .pricing__cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        justify-items: center;
        padding: 0 2.625rem;
    }
    .pricing__card{
        min-height: 21.875rem;
    }
    .pricing__aside{
        padding-left: 0.6875rem;
    }
    .pricing__container{
        padding: 0 0.625rem;
    }
}
@media (max-width: 1400px) {
    .hero__stats-title{
        font-size: 4.25rem;
        line-height: 5rem;
    }
    .hero__intro-photo{
        padding-left: 0;
    }
}
@media (max-width: 1100px) {
    .hero__photo {
        display: none;
    }
    .hero__horizontal{
        gap: 0;
    }
}
@media (max-width: 1000px) {
    .hero__intro-photo-image{
        width: 100%;
        max-width: 17.5rem;
    }
    .footer__form{
        padding: 0 1.25rem 0;
    }
}

@media (max-width: 900px) {
    .hero__intro-photo-image{
        width: 100%;
        max-width: 18rem;
    }
}
@media (max-width: 800px) {
    .hero__intro-photo-image{
        width: 100%;
        max-width: 13rem;
    }
    .hero__intro-description{
        margin-left: 0;
    }
}

@media (max-width: 843px) {
    .hero__intro-photo-image{
        width: 100%;
    }
    .hero__intro {
        flex-shrink: 1;
    }
    .hero__horizontal {
        overflow: hidden;
    }
}
@media (max-width: 768px) {
    .nav__list {
        display: none;
    }
    .header__burger {
        display: block;
        width: 2rem;
        height: 1.5rem;
        position: relative;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 1.2rem;
    }
    .header__burger::before,
    .header__burger::after {
        content: '';
        position: absolute;
        right: 0;
        height: 0.125rem;
        background-color: #ffffff;
        transition: all 0.3s ease;
    }
    .header__burger::before {
        top: 0.25rem;
        width: 0.9rem;
    }
    .header__burger::after {
        top: 0.75rem;
        width: 1.4rem;
    }
    .header__burger--active::before {
        transform: rotate(45deg) translate(0.3125rem, 0.3125rem);
        width: 70%;
        top: 0.1rem;
    }
    
    .header__burger--active::after {
        transform: rotate(-45deg) translate(0.3125rem, -0.3125rem);
        top: 1rem;
        width: 70%;
    }
    .hero__vertical {
        justify-content: left;
        top: 19rem;
        gap: 0.75rem;
    }
    .hero__vertical-line {
        width: 27rem;
    }
    .hero__horizontal {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        gap: 1.25rem;
        min-height: 47.1875rem;
    }
    .hero__stats{
        max-width: 25rem;
        padding-left: 5rem;
        padding-bottom: 0.375rem;
    }
    .hero__stats-list{
    gap: 3.6rem;
}
.hero__stats-text{
    white-space: nowrap;
}
    .hero__stats-title{
        margin: 2.7rem 0 -0.4375rem;
    }
    .hero__photo {
        display: none;
    }
    .hero__intro-photo-image{
        width: 100%;
        max-width: 14rem;
    }
    .hero__intro {
        flex-shrink: 1;
        gap: 2rem;
    }
    .hero__intro-description{
        margin-left: 3.6875rem;
    }
    
    .hero__horizontal {
        overflow: hidden;
    }
    .hero__intro-photo {
        padding-bottom: 13.6rem;
        padding-left: 3.6875rem;
        width: 100%;
    }
    
    .about__grid {
        grid-template-columns: 1fr;
        gap: 2.5rem;
    }
    .about__item:nth-child(3) .about__media {
        display: none;
    }
    .about__image {
        height: 45.5rem;
    }
    
    .portfolio__track{
        left: 47.5%;
    }
    .faq {
        padding: 3.75rem 0 3.5rem;
    }
    .faq__container{
        grid-template-columns: 1fr;
        gap: 2.5rem;
    } 
    .faq__header{
        padding: 0.993125rem 0;
    }
    .footer__form-section {
        text-align: center;
        padding-bottom: 0.125rem;
    }
    .footer__form{
        margin: -0.1875rem auto;
        padding: 0 1.25rem 0;
    }
    .footer__title {
        padding: 0.25rem 0 1.25rem 0;
    }
    .nav__small_screens_link{
        display: block;
        padding: 1.125rem 1.25rem;
        font-family: Oswald;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0;
        text-align: center;
        text-transform: uppercase;

    }
}